<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	
    <appender name="PROJECT" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="log/log.txt"/>  
        <param name="append" value="true"/>  
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
        </layout>
         <filter class ="org.apache.log4j.varia.LevelRangeFilter" > 
             <param  name ="LevelMin"  value ="INFO"   /> 
             <param  name ="LevelMax"  value ="INFO"   /> 
         </filter > 
    </appender>

	<appender name="DEBUG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="log/debug.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"	value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="DEBUG" />
		</filter>
	</appender>

	<appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="log/error.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"	value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
             <param  name ="LevelMin"  value ="WARN"   /> 
             <param  name ="LevelMax"  value ="ERROR"   /> 
		</filter>
	</appender>

   <appender name ="STDOUT"  class ="org.apache.log4j.ConsoleAppender" > 
         <layout class ="org.apache.log4j.PatternLayout" > 
             <param  name ="ConversionPattern"           value ="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n"   /> 
         </layout > 
         <filter class ="org.apache.log4j.varia.LevelRangeFilter" > 
             <param  name ="LevelMin"  value ="INFO"   /> 
             <param  name ="LevelMax"  value ="ERROR"   /> 
         </filter > 
    </appender > 
     
    <root>
        <level value="DEBUG"/>
	     <appender-ref ref="DEBUG"/>
	     <appender-ref ref="PROJECT"/>
	     <appender-ref ref="ERROR"/>
	     <appender-ref ref="STDOUT"/>
     </root>
</log4j:configuration>
